:root {

  /*Primary Colors*/

  --tomisBlue: #375D96;

  --greyLight: #EEEEEE;

  --greyDark: #333333;

  --tomisWhite: #FFFFFF;

  /*Secondary Colors*/

  --alert: #910012;

  --tomisBlueDark: #2E3F58;

  --tomisBlueNeutral: #016FA0;

  --tomisBluePale: #E7EFF9;

  --fire: D9001B;

  --greenGood: #1F7700;

  --greenNeon: #04F21C;

  --tomisGrey: #D7D7D7;

  --tomisYellow: #E6D335;

  --tomisYellowDark: #9EA100;

  /*Avatar Colors*/

  --tomisBlueLight: #497DCA;

  --greenEarth: #86A194;

  --marroon: #864B5C;

  --tomisPurple: #6868AC;

  /*Font*/

  --fontFamily: Tahoma;

}



body {

  margin: 0px;

  font-family: Tahoma, Geneva, Verdana, sans-serif !important;

  background: var(--greyLight) !important;

  font-size: 13px !important;

}



input, select, textarea {

  border-radius: 5px;

  border: 1px solid #AAA;

  padding: 1px 5px;

}



.hoverPoint:hover {

  cursor:pointer;

}



.right {

  float: right;

}



.right-text {

  text-align: right;

}



.left {

  float: left;

}



.left-text {

  text-align: left;

}



.center-text {

  text-align-last: center

}

.red-text{

  color: var(--fire);

}



.hiddenElement {

  display: none;

}



.header {

  width: 100%;

  padding: 10px;

  background: linear-gradient(#232F3E, var(--tomisBlue));

  color: white;

  height: auto;

}



.sectionHeader {

  font-size: 13px; 

  font-weight: bold; 

  background-color: var(--tomisGrey); 

  padding: 5px 10px; 

  margin-top: 10px;

  border-radius: 5px;

}



.headerTabList {

  list-style: none;

  margin: 0;

  padding: 0;

  overflow: hidden;

  font-family: var(--fontFamily);

}



.headerTab {

  display: block;

  color: white;

  text-align: center;

  padding: 8px;

  text-decoration: none;

  font-size: 14px;

  padding-left: 30px;

}



.headerTab:hover {

  color: var(--greenNeon);

}



.headerIcon{

  width:20px;

}



.headerIconTab{

  padding: 7px;

  float: left;

  display: none;

}



.headerIconTab:hover {

  background: var(--greenNeon);

}



.sidebar {

  width: 200px;

  height: 100%;

  float: left;

  background-color: var(--tomisBlue);

  margin-right: 10px;

}



.sidebarMenu {

  list-style: none;

  margin: 0;

  padding: 0;

  font-family: var(--fontFamily);

}



.sidebarMenuTab {

  text-align: center;

  font-weight: bold;

  color: var(--tomisWhite);

  border-top: 1px solid var(--greyDark);

  padding-top: 3px;

  padding-bottom: 3px;

}

  .sidebarMenuTab a {

      text-align: center;

      font-weight: bold;

      color: var(--tomisWhite);

      text-decoration: none;

  }

  .sidebarMenuTab a:hover {

      color: var(--tomisWhite);

      text-decoration: none;

  }



.sidebarMenuTab:hover {

  background-color: #232F3E;

}



.sidebarMenuTab:last-child {

  border-bottom: 1px solid var(--greyDark);

}

.sidebarMenuTabSection {

  border-top: 3px solid var(--tomisWhite);

}



.tomisLogo {

  height: 100px;

}



.headingText {

  font-size: 16px;

  font-weight: bold;

  max-width: 70%;

}



.labelText {

  font-size: 13px;

  font-weight: bold;

}



.bodyText {

  font-size: 13px;

}



.small {

  font-size: 10px;

}



.infoContainer {

  background-color: white;

  border: 1px solid #AAA;

  border-radius: 10px;

  padding: 10px;

  margin: 16px;

  display: flow-root;

}

.maxWidth {

  max-width: 1200px;

}



.topBorder {

  border-top: 1px solid grey;

  padding-top: 8px;

  margin-top: 10px;

}

.bottomBorder {

  border-bottom: 1px solid grey;

  padding-bottom: 8px;

}



@media screen and (max-width: 1140px) {

  .sidebar {

      display: none;

  }

  .headerIconTab {

      display: block;

  }

}



@media screen and (max-width: 1140px) {

  .sidebar.responsive {

      display: block;

      z-index: 1;

      position: fixed;

  }

  .sidebar.responsive .icon {

      position: absolute;

      right: 0;

      top: 0;

  }

}



.header-dropdown {

  font-size: 13px;

}



.dashboard-logo {

  width: 350px;

}



.profile-lg {

  width: 75px;

  height: 75px;

  border-radius: 100%;

  background: var(--greenEarth);

  border: 2px solid white;

  text-align: center;

}



  .profile-lg span {

      font-size: 45px;

      font-weight: bold;

  }



.display-name {

  margin-top: 25px;

  margin-left: 10px;

}



.header-dropdown {

  margin: 10px 20px;

  display: inline-block;

}



  .header-dropdown:hover {

      color: var(--greenNeon);

  }



.bi-bell {

  margin-top: 5px;

  margin-right: 10px;

}



.grid-sizer,

.grid-item {

  width: 25%;

}



.grid-item--width50 {

  width: 50%;

}



.grid-item--width75 {

  width: 75%;

}



.widget {

  background-color: white;

  border-radius: 10px;

  border: 1px solid #AAA;

  padding: 10px;

  margin: 10px;

  font-size: 13px;

}



.widget-title {

  font-weight: bold;

  font-size: 16px;

}



.widget-header {

  padding: 2px 5px;

  width: 100%;

  background-color: var(--tomisGrey);

  font-weight: bold;

  border-radius: 5px;

  margin-bottom: 0px;

  margin-top: 10px;

  font-size: 13px;

}



.widget-link {

  color: #016FA0;

  text-decoration: none;

}



  .widget-link:hover {

      color: #016FA0;

      text-decoration: underline;

  }





/* Buttons */

.link-button {

  background:none;

  border:none;

  color:#016FA0;

}

.link-button:hover{

  text-decoration:underline;

}

.link-button:disabled {

  background: none;

  border: none;

  color: #777;

}

.link-button:disabled:hover{

  text-decoration:none;

}



.button {

  font-size: 13px;

  font-weight: bold;

  border-radius: 5px;

  min-width: 130px;

  padding: 2px 5px;

  box-shadow: 1px 1px 2px #555;

}



.button-primary {

  background-color: var(--tomisBlue);

  color: var(--tomisBluePale);

  border: 1px solid #F2F2F2;

}



  .button-primary:hover {

      background-color: var(--tomisBlueDark);

      box-shadow: none;

  }



.button-secondary {

  background-color: white;

  color: var(--tomisBlueNeutral);

  border: 1px solid #AAA;

}



  .button-secondary:hover {

      background-color: var(--tomisBluePale);

      box-shadow: none;

  }



.button-disabled {

  background-color: #F2F2F2;

  color: #7F7F7F;

  box-shadow: none;

  border: 1px solid #AAA;

}



.button-text {

  color: var(--tomisBlueNeutral);

  text-decoration-line: underline;

  padding-left: 8px;

  text-align-last:center;

}



/* Tables */



.sectionInfo {

  width: 100%;

  font-family: var(--fontFamily);

  font-size: 13px;

}



  .sectionInfo td {

      padding: 8px 12px 8px 12px;

  }



      .sectionInfo td:first-child {

          font-weight: bold;

          width: 200px;

      }



      .sectionInfo td:nth-child(3) {

          width: 30%;

      }



.sponsorInfo {

  width: 100%;

  font-family: var(--fontFamily);

  font-size: 13px;

}

  .sponsorTable thead tfoot {

      font-weight: bold;

  }



  .sponsorTable td {

      border-bottom: 1px solid #AAA;

      padding: 4px 0px 4px 0px;

  }



  .sponsorTable tfoot td {

      padding: 6px 0px 6px 0px;

  }



.ptdDetailsTable {

  width: 100%;

  font-family: var(--fontFamily);

  font-size: 13px;

}



  .ptdDetailsTable th{

      width: 15%;

  }



      .ptdDetailsTable th:first-child {

          width: 65%;

      }



.demandSupplyTable {

  width: 100%;

  font-family: var(--fontFamily);

  font-size: 13px;

  border: 1px solid #AAA;

  border-radius: 5px;

  border-collapse: separate;

  border-spacing: 0;

  margin: 10px;

  padding: 5px;

}



  .demandSupplyTable td, .demandSupplyTable th {

      padding: 5px 5px 5px 5px;

      text-align: right;

  }



  .demandSupplyTable th {

      text-align: right;

  }

  .demandSupplyTable .borderBottom th{

      border-bottom: 1px solid #D7D7D7;

  }



  .demandSupplyTable th, .demandSupplyTable td {

      border-right: 1px solid #D7D7D7;

  }

  .demandSupplyTable th:last-child, .demandSupplyTable td:last-child {

      border-right: none;

  }

  .demandSupplyTable th:nth-child(2), .demandSupplyTable td:nth-child(2) {

      border-right: 1px solid #555;

  }

  .demandSupplyTableTotal th:nth-child(5), .demandSupplyTableTotal td:nth-child(5) {

      border-right: 1px solid #555;

  }

  .demandSupplyTableTotal th:nth-child(2), .demandSupplyTableTotal td:nth-child(2) {

      border-right: 1px solid #D7D7D7;

  }



.table-list {

  border-bottom: 1px solid var(--tomisGrey);

  width: 100%;

}



  .table-list tr {

      border-bottom: 1px solid var(--tomisGrey);

  }



.table-rows {

  width: 100%;

  font-size: 13px;

  border-collapse: separate !important;

  border-spacing: 0px 5px !important;

}



  .table-rows thead {

      font-weight: bold;

  }



  .table-rows tbody tr {

      background-color: var(--greyLight);

  }



      .table-rows tbody tr td, .table-rows tfoot tr td, .table-rows thead tr th {

          padding: 5px;

      }



          .table-rows tbody tr td:first-child {

              border-bottom-left-radius: 10px;

              border-top-left-radius: 10px;

              padding-left: 10px;

          }



          .table-rows tbody tr td:last-child {

              border-bottom-right-radius: 10px;

              border-top-right-radius: 10px;

          }



.repsonsiveCursor:hover{

  cursor:pointer

}



.overdue {

  color: #910012;

  font-weight: bold;

}



.navigateContainer {

  border: 1px solid #AAA;

  border-radius: 10px;

}



.page-item{

  font-size:14px;

}



/*Accordion*/

.accordion-button {

  font-size:13px !important;

}



/*ICONS*/

.material-symbols-outlined {

  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20

}

span.size-24 {

  font-size: 24px;

  font-variation-settings: 'OPSZ' 24;

}

span.size-18 {

  font-size: 18px;

  font-variation-settings: 'OPSZ' 18;

}



/*.arrowDown {

  width: 50px;

  content: url(../images/arrowDropdown.png)

} */



.addIcon {

  color: var(--greenGood);

  vertical-align: middle;

}

.delIcon {

  color: var(--alert);

  vertical-align: middle;

}



.status {

  font-weight: bold;

  border-radius: 15px;

  padding: 0px 15px;

  font-size: 13px;

  margin-bottom:0px;

}

.statusName { /*Employee Names*/

  border-radius: 15px;

  padding: 0px 15px;

  font-size: 13px;

  margin-bottom: 0px;

}

.statusRed {

  border: 2px solid var(--alert);

  background-color: var(--fire);

  color: white;

}

.statusGreen {

  border: 2px solid var(--greenGood);

  background-color: #63A103;

  color: white;

}

.statusYellow {

  border: 2px solid #AAAA00;

  background-color: #FFDF25;

  color: black;

}

.statusGrey {

  border: 2px solid black;

  background-color: var(--tomisGrey);

  color: black;

}

.statusGov {

  padding: 3px 15px;

  border: 1px solid #87B29A;

  background-color: #E3F2EA;

  color: black;

}

.statusCont {

  padding: 3px 15px;

  border: 1px solid #B2AB87;

  background-color: #F2F0E3;

  color: black;

}

.statusEither {

  padding: 3px 15px;

  border: 1px solid #A0BCC9;

  background-color: #E3EEF2;

  color: black;

}



.skillsetTable {

  /*border-collapse: collapse;*/

  width: 100%;

  font-size: 13px;

}



  .skillsetTable th {

      font-weight: bold;

      border-bottom: 1px solid #EEEEEE;

      padding: 5px;

  }



  .skillsetTable td {

      padding-top: 10px;

      padding-left: 8px;

  }



  .skillsetTable th:first-child {

      width: 32%;

  }



  .skillsetTable th:nth-child(2) {

      width: 8%;

  }



  .skillsetTable th:nth-child(3) {

      width: 10%;

  }



  .skillsetTable th:nth-child(4) {

      width: 50%;

  }



.demandEither {

  padding: 3px 15px;

  border: 1px solid #A0BCC9;

  background-color: #E3EEF2;

  font-size: 13px;

  color: black;

  text-align: left;

  border-radius: 20px;

}



.demandGov {

  padding: 3px 15px;

  border: 1px solid #87B29A;

  background-color: #E3F2EA;

  font-size: 13px;

  color: black;

  text-align: left;

  border-radius: 20px;

}



.demandCont {

  padding: 3px 15px;

  border: 1px solid #B2AB87;

  background-color: #F2F0E3;

  font-size: 13px;

  color: black;

  text-align: left;

  border-radius: 20px;

}



.demandListBox {

  width: 300px;

}



.demandHeaderTotal {

  font-size: 13px;

  font-weight: normal;

}



.buttonAddDemand {

  border-radius: 15px;

  font-size: 10px;

  color: #375D96;

  padding-bottom: 5px;

  padding-top: 5px;

  margin-left: 15px;

  padding-inline: 15px;

  border: 0px;

  box-shadow: #D7D7D7 2px 2px;

  background-color: white;

}



  .buttonAddDemand:hover {

      background-color: var(--tomisBluePale);

  }



.flex-container {

  display: flex;

  flex-wrap: nowrap;

  flex-direction: row;

  width: 100%;

  align-content: space-between;

  justify-content: space-between;

  padding: 5px 20px 5px 15px;

}

/*POP UP*/

/* The Modal (background) */

.modal {

  display: none; /* Hidden by default */

  position: fixed; /* Stay in place */

  z-index: 1; /* Sit on top */

  left: 0;

  top: 0;

  width: 100%; /* Full width */

  height: 100%; /* Full height */

  overflow: auto; /* Enable scroll if needed */

  background-color: rgb(0,0,0); /* Fallback color */

  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}



/* Modal Content/Box */

.modalContent {

  background-color: #fefefe;

  margin: 15% auto; /* 15% from the top and centered */

  padding: 20px;

  border: 1px solid #888;

  width: 30%; /* Could be more or less, depending on screen size */

}



.modalHeader {

  font-size: 20px;

  color: var(--greenGood);

  font-weight: bold

}



.employeeModal {

  background-color: #fefefe;

  padding: 20px;

  width: 100%; /* Could be more or less, depending on screen size */

}



.employeeModalContent {

  background-color: #fefefe;

  margin: 15% auto; /* 15% from the top and centered */

  padding: 20px;

  width: 70%; /* Could be more or less, depending on screen size */

  border-radius: 15px;

}



.employeeModalHeader {

  font-size: 21px;

  font-weight: bold;

  font-family: Geneva;

}



.employeeModalTable {

  width: 100%;

}

  .employeeModalTable td:nth-child(n) {

      border-top: 1px solid var(--tomisDark);

  }

  .employeeModalTable td {

      border-bottom: 1px solid var(--tomisGrey);

  }

      .employeeModalTable th:last-child td:last-child {

          text-align: right;

      }

.recordLockHeader {

  color: red;

  font-size: 20px;

  text-align: center;

  font-weight: bold;

  background-color: var(--tomisGrey);

  padding: 5px 10px;

  margin-top: 10px;

  border-radius: 5px;

}

.recordLockText{

  font-size: 20px

}



.editSectionInfo {

  width: 85%;

  font-family: var(--fontFamily);

  font-size: 11px;

}



  .editSectionInfo td {

      padding: 8px 12px 8px 12px;

  }



      .editSectionInfo td:first-child {

          font-weight: bold;

          width: 200px;

      }



      .editSectionInfo td:nth-child(3) {

          width: 20%;

          font-weight: bold;

      }



.supplyArrows {

  padding-bottom: 30px;

}



.expandCollapse {

  text-align: right;

  margin-top: 20px;

}





expandCollapse:hover {

  color: darkblue;

}



.sectionHeader accordion {

  font-size: 13px;

  background-color: var(--tomisGrey);

  padding: 5px 10px;

  margin-top: 10px;

  border-radius: 5px;

}



#expandCollapseSection a {

  padding-right: 20px;

}



.buttonPreferencesSection {

  margin: auto;

  margin-left: 500px;

  margin-top: 15px;

  margin-bottom: 15px;

}



.button-save {

  border-radius: 5px;

  font-size: 13px;

  background-color: var(--tomisBlue);

  color: white;

  padding-bottom: 5px;

  padding-top: 5px;

  padding-inline: 15px;

  border: 0px;

  box-shadow: #D7D7D7 2px 2px;

}



.button-save:hover {

  background-color: white;

  color: var(--tomisBlue);

}



.fy-lock {

  font-size: 30px; 

  color: var(--fire)

}



.required:after {

  content: " *";

  color: var(--fire);

  font-size: 16px;

}



.costNumberInput {

  width: 85px;

}



.wkyrNumberInput {

  width: 60px;

}



.detailNotes td:nth-child(2), .detailNotes td:nth-child(4), .detailNotes td:nth-child(5) {

  width: 120px;

}

.detailMil td:nth-child(3), .detailMil td:nth-child(4) {

  width: 120px;

}

.detailMil td:nth-child(1){

  width: 55px;

}

.detailDel td:nth-child(3), .detailDel td:nth-child(4) {

  width: 120px;

}

.detailDel td:nth-child(1) {

  width: 55px;

}

.detailOth td:nth-child(2), .detailOth td:nth-child(3) {

  width: 120px;

}



.deltaInput {

  width: 50px;

}

header {

  width: 100%;

  padding: 10px;

  background: linear-gradient(#232F3E, var(--tomisBlue));

  color: white;

  height: auto;

}

.nav-area {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.logo {
  text-decoration: none;
  font-size: 25px;
  color: inherit;
  margin-right: 20px;
}

/* menu on desktop */
.desktop-nav .menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.desktop-nav .menu-items {
  position: relative;
  font-size: 14px;
}

.desktop-nav .menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.desktop-nav .menu-items button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.desktop-nav button span {
  margin-left: 3px;
}

.desktop-nav .menu-items > a,
.desktop-nav .menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.desktop-nav .menu-items a:hover,
.desktop-nav .menu-items button:hover {
  background-color: #ab4949;
}

.desktop-nav .arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.desktop-nav .dropdown {
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background: linear-gradient(#232F3E, var(--tomisBlue));
  border-radius: 0.5rem;
  display: none;
}

.desktop-nav .dropdown.show {
  display: block;
}

.desktop-nav .dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

.mobile-nav {
  display: none;
}